@charset "utf-8";

.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description{
    background-color: #4169E1;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.segundopr{
    background-color: #FF69B4;
    color: #000000;
    font-size: 16px;
    
    font-weight: bold;
    font-style: italic;
}